<!DOCTYPE html>

<html xml:lang="sv" lang="sv">
<head>
    <meta charset="UTF-8" />
    <title>Småstads kommun</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div>
        <header id="logo">
            <h1>Småstad</h1>
            <p>Kommunen där vi bryr oss om varandra</p>
        </header><!-- End header -->

        <nav>
            <ul>
                <li><a asp-controller="Manager" asp-action="manager" class="reports">Start(Ärenden)</a></li>
                <li class="right"><a asp-controller="Home" asp-action="Index" class="logout">Logga ut</a></li>
            </ul>
        </nav><!-- End Nav -->

        @RenderBody()
    </div>
</body>
</html>
