@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}
@model Employee

<div id="content">
    <section id="mainColumn">
        <h2>Inloggning för Småstads personal</h2>
        <p class="info">En säker tjänst från Småstads IT-avdelning</p>

        <form method="post" action="coordinator/startCoordinator.html">
            <div asp-validation-summary="All" class="error"></div>
            <p>
                <input type="hidden" name="isSubmitted" value="true" />
            </p>
            <p>
                <span class="label">Användarnamn:</span><br />
                <input asp-for="EmployeeId" />
            </p>
            <p>
                <span class="label">Lösenord:</span><br />
                <input type="password" name="password" />
            </p>
            <p>
                <!--Dessa länkar ska sedan tas bort då det är meningen att vid kontrollen av inloggningsuppgifter så hämtas rätt sida-->
                <a class="button" asp-controller="Coordinator" asp-action="coordinator">Inloggning av samordnare</a><br />
                <a class="button" asp-controller="Manager" asp-action="manager">Inloggning av chefer</a><br />
                <a class="button" asp-controller="Investigator" asp-action="investigator">Inloggning av handläggare</a>
            </p>
        </form>
    </section><!-- End Left -->

    <section><!-- Add Cookie part-->
        <h1>Specify your preferences :</h1>
        <form asp-controller="Home" asp-action="WriteCookies">
            <select name="setting">
                <option value="fontName">Font Name</option>
                <option value="fontSize">Font Size</option>
                <option value="color">Color</option>
            </select>
            <input type="text" name="settingValue" />
            <input type="checkbox" name="isPersistent"
                   value="true" /> Is Persistent?
            <input type="submit" value="Write Cookie" />
        </form>

        <h4>@ViewBag.Message</h4>

        <h4>
            <a asp-action="ReadCookies" asp-controller="Home">
                Read Cookies
            </a>
        </h4>
    </section>

    <footer>
        &copy; Småstads Kommun All rights reserved.
    </footer>
</div><!-- End Content -->